<p>こんにちは <%= @email %>さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが変更されたことをお知らせします。</p>
  <p>新しいメールアドレスはこちらです <%= @resource.unconfirmed_email %></p>
  <p>新規メールアドレスで、アカウントの確認をしてください。</p>
<% else %>
  <p>メールアドレスが変更されたことをお知らせします。</p>
  <p>新しいメールアドレスはこちらです <%= @resource.email %></p>
  <p>新規メールアドレスで、アカウントの確認をしてください。</p>
<% end %>
